[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2020.1"
python-slugify = "==4.0.0"
argon2-cffi = "==19.2.0"
whitenoise = "==5.0.1"
redis = "==3.5.0"
hiredis = "==1.0.1"
celery = {extras = ["redis"],version = "*"}
django-celery-beat = "==2.0.0"
django-environ = "==0.4.5"
django-model-utils = "==4.0.0"
django-allauth = "==0.41.0"
django-crispy-forms = "==1.9.0"
django-redis = "==4.11.0"
djangorestframework = "==3.11.0"
Pillow = "==8.1.1"
Django = "==3.0.7"
ipdb = "==0.13.2"
psycopg2-binary = "==2.8.5"
django-debug-toolbar = "==2.2"
django-extensions = "==2.2.9"
django-coverage-plugin = "==1.8.0"
Werkzeug = "==1.0.1"
Sphinx = "==3.0.4"
pyopenssl = "*"
selenium = "*"
tld = "*"
sentry-sdk = "*"
pandas = "*"
django-anymail = {extras = ["mailgrid"],version = "*"}
django-lifecycle = "*"
django-celery-results = "*"
markdown = "*"
django-filter = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
